.card {
    width: 20vw;
    height: 32vw;
    border: 2px solid #000000;
    background-color: #8d6633;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    font-family: 'Cinzel', serif;
}

.title {
    padding: 1vw;
    text-align: left;
}

.mana {
    padding: 1vw;
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.inner-div {
    width: 85%;  
    border: 1px solid #000000;
    padding: 1vw;
    margin: auto;
    flex-grow: 0.9;
    border-radius: 12px;
}
#main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    justify-items: center;
    align-items: center;
    width: 98%;
    height: 98%;
    padding: 1vw;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
}